CompileFlags:
  Add:
    - '-std=c++17'
    - '-Iinclude'
    - '-I../include'
    - '-Igodot-cpp/gdextension'
    - '-Igodot-cpp/gen/include'
    - '-Igodot-cpp/include'
Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    Add: [performance-*, modernize-*, readability-*]
    Remove: [readability-identifier-length]
