name: Unity Plugin Tests

on:
  push:
    branches:
      - main
    paths:
      - "UnityPackage/**/*"
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches:
      - main
    paths:
      - "UnityPackage/**/*"
  workflow_dispatch:

jobs:
  test-unity-plugin-meta-files:
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false

    steps:
      - name: Check out repository
        uses: actions/checkout@v5.0.0
        with:
          fetch-depth: 0

      - name: Check Unity plugin for missing meta files
        run: ./bin/test-unity-plugin-meta-files.sh
